<div nz-row>
  <div nz-col nzXs="0" nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
  <div nz-col nzXs="24" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
    <div class="route-container" [@routeAnimation]="getDepth(myOutlet)">
      <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
  </div>
  <div nz-col nzXs="0" nzSm="2" nzMd="2" nzLg="2" nzXl="2"></div>
</div>
