.weekends
  color: red
.ant-card-grid.nobox:hover
  position: relative
  z-index: 1
  box-shadow: unset
.today
  background-color: powderblue
.switch-month
  display: flex
  align-items: center
  margin: 10px 10px 10px 0
.switch-month-pad
  padding: 0 20px 0 20px
.is-disabled
  opacity: 0.5
  background: #efefef
.greed-style
  width: 14.28571428571%
  text-align: center
.isholiday
  background-color: gold
.badge-position
  position: absolute
  top: 5px
  right: 5px
.card-grid
  position: relative
