<li class="schedule-list_event-item">
  <div>
    <p class="mb-4">Time: <span>{{getTimeEventItem(item)}}</span></p>
    <p class="mb-4">Title: <span>{{item.title}}</span></p>
    <p class="mb-4">Description: <span>{{item.description}}</span></p>
  </div>
  <div class="btn_contol_event">
    <button nz-button nzType="danger" (click)="deleteEvent(item.id)">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="default" (click)="showEditModal(item)">EDIT</button>
  </div>
</li>
