.schedule-list_event-item
  display: flex
  flex-direction: row
  border: 1px solid #b0b0b0
  padding: 8px
  margin: 8px
  background-color: ghostwhite
.btn_contol_event
  display: flex
  flex-direction: column
  justify-content: center
  padding: 0 0 0 5px
